.upvote, .downvote, .bookmark, .comment {
    display: block;
    margin: 0.5rem auto;
}

.youtube-embeded {
    margin: 0 auto;
    height: 36vh;
    max-width: 64vh;
    margin-bottom: 1rem;
}

.youtube-embeded iframe {
    height: 100%;
    width: 100%;
}

.action-container {
    position: absolute;
    width: fit-content;
    text-align: center;
    padding: 0;
}

.action-container button {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
}

.action-container button:hover {
    color: rgb(200, 170, 20);
}

.content-container {
    margin-left: 3rem;
}